
#
# Ignore the binary
#
cat-crawler
main

#
# Vi/vim swapfiles
#
*.swp

#
# My test output
#
output.txt

#
# Ignore our default downloads directory
#
cat-crawler-downloads

#
# Et tu, OS/X?
#
.DS_Store

